<h1>InfiniteBlocks</h1>
<section>
    <h2>ランキング</h2>
    <ul class="records-buttons">
        <li class="records-button records-button-active">全体</li>
        <li class="records-button">年間</li>
        <li class="records-button">月間</li>
        <li class="records-button">週間</li>
    </ul>
</section>
