<h1>マイページ</h1>
<section>
    <h2>ユーザー情報更新</h2>
    <%= form_tag("/mypage/update/#{@current_user.id}", {multipart: true, class: "green-form"}) do %>
    <div class="green-form-box3">
        <div class="green-form-box2">
            <p>ユーザーネーム</p>
            <input type="text" name="username" value="<%= @current_user.name %>"style="width:480px">
        </div>
    </div>
    <div class="green-form-box1">
        <div class="green-form-box7">
            <p>ユーザー画像</p>
            <%= image_tag(@current_user.get_image_name, class: "green-form-userimage") %>
            <input type="file" name="image">
        </div>
    </div>
    <input type="submit" value="更新">
    <% end %> 
</section>