<h1>お問い合わせ</h1>
<%= form_tag("/send_email", class: "form-beta") do %>
<h5>メールアドレス</h5>
<input type="email" name="email" value="<%= @email %>" style="width:100%">
<h5 style="margin-top:20px">件名</h5>
<input type="text" name="title" style="width:100%">
<h5 style="margin-top:20px">内容</h5>
<textarea name="content" style="height:300px"></textarea>
<input type="submit" value="送信" style="margin-top:40px">
<% end %>
