<h1>ブラウザゲーム集</h1>
<section>
    <table class="table-games">
        <tr>
            <td>
                <%= link_to("/games/infinite_blocks") do %>
                <div class="table-games-title">Infinite Blocks</div>
                <%= image_tag("GameThumbnail.png") %>
                <div class="table-games-genre">ジャンル：ブロック崩し</div>
                <div class="table-games-description">総ステージ30、ブロックの種類は20種類以上、アイテムの種類も20種類以上、
                10種類以上の機械、このゲームはボールが無くなるまでは終わらない。</div>
                <% end %>
            </td>
        </tr>
    </table>
</section>