<section id="top-section">
    <div class="top-carousel-container">
        <div id="top-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#top-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#top-carousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p>カルーセルてすと０</p>
                </div>
                <div class="carousel-item">
                    <p>ATELIER 144</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news-section">
    <h2>更新情報</h2>
    <div class="news-container">
        <% @news.each do |anew| %>
        <div class="news-record">
            <div class="news-date">
                <%= anew.created_at.strftime("%Y年%m月%d日") %>
            </div>
            <div class="news-content">
                <%= anew.content %>
            </div>
        </div>
        <% end %>
    </div>
</section>
<section id="games-section" class="desktop-only">
    <h2>最新ブラウザゲーム集</h2>
    <table class="table-games">
        <tr>
            <td>
                <%= link_to("/games/infinite-blocks") do %>
                <div class="table-games-title">Infinite Blocks</div>
                <%= image_tag("GameThumbnail.png") %>
                <div class="table-games-genre">ジャンル：ブロック崩し</div>
                <div class="table-games-description">総ステージ30、ブロックの種類は20種類以上、アイテムの種類も20種類以上、
                    10種類以上の機械、このゲームはボールが無くなるまでは終わらない。</div>
                <% end %>
            </td>
        </tr>
    </table>
</section>
<section id="applications-section">
    <h2>最新アプリ集</h2>
</section>
