<section>
    
</section>
<section id="news-section">
    <h2>更新情報</h2>
</section>
<section id="games-section">
    <h2>最新ゲーム集</h2>
</section>
<section id="applications-section">
    <h2>最新アプリ集</h2>
</section>