/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #F7F7F7;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 50px 0px;
    padding: 0px;
    font-weight: 100;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
}

h2 {
    margin: 30px 0px;
    padding: 0px;
    font-weight: 100;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
}

/*------------------------------HEADER------------------------------*/

header {
    width: 100%;
    height: 105px;
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 5px solid #00FF40;
}

.header-logo {
    display: block;
    width: 240px;
    height: 90px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url("Atelier144Logo.png");
    transition: 0.5s;
}

.header-logo:hover {
    background-image: url("Atelier144LogoHover.png");
}

.header-menu {
    margin: 0px;
    padding: 0px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
}

.header-menu li {
    margin: 0px 5px;
    padding: 0px;
    list-style: none;
}

.header-menu a {
    display: block;
    height: 100px;
    line-height: 100px;
    margin: 0px;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 100;
    color: #00FF40;
    text-decoration: none;
    text-align: center;
    background-color: white;
    transition: 0.3s;
}

.header-menu a:hover {
    color: #BFFF00;
}

.header-menu img {
    margin-top: 10px;
    padding: 0px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.header-menu-border {
    width: 1px;
    height: 80px;
    margin: 10px 0px;
    background-color: #D8D8D8;
}

/*------------------------------FOOTER------------------------------*/

footer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 175px;
    background-color: #4A4A4A;
    border-top: 1px solid black;
}

.footer-menu {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.footer-menu li {
    height: 20px;
    line-height: 20px;
    margin: 0px 10px;
    padding: 0px;
    list-style: none;
}

.footer-menu li a {
    font-size: 14px;
    text-decoration: none;
    color: #E0E0E0;
    transition: 0.3s;
}

.footer-menu li a:hover {
    color: white;
}

.footer-sns-headline {
    height: 20px;
    line-height: 20px;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    color: #E0E0E0;
}

.footer-menu-sns {
    margin: 10px 0px 0px;
    display: flex;
    justify-content: center;
}

.footer-menu-sns li {
    margin: 0px;
    padding: 0px 80px;
    list-style: none;
}

.footer-menu-sns img {
    margin: 0px 10px;
    width: 40px;
    height: 40px;
}

.footer-copyright {
    line-height: 25px;
    margin: 10px 0px 0px;
    padding: 0px;
    color: #E0E0E0;
    text-align: center;
    font-size: 12px;
}

/*------------------------------GENERAL------------------------------*/

.pagetop {
    width: 64px;
    height: 64px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-image: url("Pagetop.png");
    cursor: pointer;
    transition: 0.5s;
}

.pagetop:hover {
    background-image: url("PagetopHover.png");
}

.user-image-80x80 {
    width: 80px;
    height: 80px;
}

.top-background {
    width: 100%;
    height: 640px;
    margin: 0px;
    background-color: black;
}

.game-container-1024x768 {
    width: 1024px;
    height: 768px;
    margin: 0px auto 50px;
}

/*------------------------------NEWS------------------------------*/
.news-container {
    width: 960px;
    margin: 0px auto;
    padding: 0px;
}

.news-record {
    width: 960px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.news-date {
    width: 160px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #408000;
    position: absolute;
    top: 0px;
    left: 0px;
}

.news-content {
    width: 800px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    position: absolute;
    top: 0px;
    left: 160px;
}

/*------------------------------GAMES------------------------------*/
.table-games {
    margin: 0px auto 100px;
    padding: 0px;
}

.table-games tr {
    margin: 0px;
    padding: 0px;
}

.table-games tr td {
    margin: 0px;
    padding: 0px;
}

.table-games tr td a {
    display: block;
    width: 280px;
    height: 400px;
    margin: 15px;
    padding: 0px 12px;
    border: 1px solid #A0A0A0;
    color: black;
    text-decoration: none;
    background-color: white;
    transition: 0.5s;
}

.table-games tr td a:hover {
    background-color: #FFFFCF;
}

.table-games tr td a image {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 256px;
    height: 192px;
}

.table-games-title {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
}

.table-games-genre {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
}

.table-games-description {
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
}

/*------------------------------TERMS------------------------------*/

.terms-contents {
    margin: 0px auto 100px;
    padding: 40px 30px 50px;
    width: 960px;
    background-color: white;
    border: 1px solid black;
}

.terms-contents h1 {
    margin: 25px 0px 10px;
    padding: 0px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
}

.terms-contents p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

/*------------------------------GREEN FORM------------------------------*/
.green-form {
    width: 800px;
    margin: 0px auto 100px;
    padding: 30px;
    background-color: #F2FFCC;
    border: 1px solid #A0A0A0;
    border-radius: 20px;
}

.green-form p {
    margin: 0px;
    padding: 0px;

    line-height: 30px;
    font-size: 20px;
    font-weight: 100;
    color: #408000;
    position: absolute;
    left: 0px;

}

.green-form input[type="text"],
.green-form input[type="email"],
.green-form input[type="password"] {
    height: 30px;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    font-size: 20px;
    letter-spacing: 1px;
    border: 1px solid #A0A0A0;
    position: absolute;
    right: 0px;
}

.green-form input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 0px;
}

.green-form input[type="submit"] {
    display: block;
    width: 300px;
    height: 40px;
    margin: 50px auto 0px;
    padding: 0px;
    background-color: #00FF40;
    border: 2px solid #408000;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 300;
    color: #408000;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    transition: 0.5s;
}

.green-form input[type="submit"]:hover {
    background-color: #BFFF00;
}

.green-form input[type="file"] {
    position: absolute;
    top: 0px;
    left: 260px;
}

.green-form textarea {
    width: 100%;
    min-height: 300px;
    max-height: 1000px;
    padding: 2px 5px;
    font-size: 20px;
    letter-spacing: 1px;
    border: 1px solid #A0A0A0;
    resize: vertical;

}

.green-form-box1 {
    margin: 0px;
    padding: 20px 0px;
    border-bottom: 1px solid #D8D8D8;
}

.green-form-box2 {
    height: 30px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.green-form-box3 {
    margin: 0px;
    padding: 0px 0px 20px;
    border-bottom: 1px solid #D8D8D8;
}

.green-form-box4 {
    height: 20px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.green-form-box5 {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
}

.green-form-box6 {
    height: 30px;
    margin: 0px 0px 10px;
    padding: 0px;
    position: relative;
}

.green-form-box7 {
    height: 260px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.green-form-note1 {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    line-height: 20px;
    color: #408000;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: left;
}

.green-form-note2 {
    color: #408000;
    position: relative;
    bottom: 3px;
}

.green-form-userimage {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    position: absolute;
    top: 0px;
    left: 260px;
}

/*------------------------------RECORDS BUTTONS------------------------------*/
.records-buttons {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.records-button {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    margin: 0px 5px;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    background-color: white;
    color: #DFDFDF;
    cursor: pointer;
}

.records-button .disable {
    background-color: white;
    color: #DFDFDF;
}

.records-button-active {
    background-color: #00FF40;
    color: white;
}

/*------------------------------INFINITE BLOCKS RECORD------------------------------*/
.infinite-blocks-records {
    width: 800px;
    margin: 50px auto 100px;
    padding: 0px;
    border: 1px solid black;
    background-color: white;
}

.infinite-blocks-record {
    width: 800px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.infinite-blocks-record-rank {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: black;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.infinite-blocks-record-userimage img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    left: 85px;
}

.infinite-blocks-record-username {
    display: block;
    width: 240px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 100;
    color: black;
    position: absolute;
    top: 0px;
    left: 145px;
}

.infinite-blocks-record-points {
    width: 120px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 100;
    color: black;
    position: absolute;
    top: 0px;
    left: 400px;
}

.infinite-blocks-record-level {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 100;
    color: black;
    position: absolute;
    top: 0px;
    left: 540px;
}

.infinite-blocks-record-date {
    width: 180px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 100;
    color: black;
    position: absolute;
    top: 0px;
    left: 620px;
}
